@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/variables.css");
@import url("../styles/clerk.css");
@import url("../styles/scrollbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

@layer utilities {
  .input-label {
    @apply text-lg font-bold text-text sm:text-xl;
    font-family: var(--font-playfair);
  }
  .input-class {
    @apply text-16 placeholder:text-16 min-h-12 w-full rounded-[8px] border-2 border-accent bg-transparent text-text outline-none transition-all placeholder:text-accent hover:border-primary focus-visible:border-primary focus-visible:outline-none;
  }

  .image-input {
    @apply relative flex w-full flex-col gap-4;
    .image-input-inner {
      @apply flex cursor-pointer flex-col items-center justify-center gap-4 rounded-sm p-6 outline-dashed outline-2 outline-accent transition-all hover:outline-primary;
    }
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-12 {
    @apply text-[12px] leading-normal;
  }
  .text-14 {
    @apply text-[14px] leading-normal;
  }
  .text-16 {
    @apply text-[16px] leading-normal;
  }
  .text-18 {
    @apply text-[18px] leading-normal;
  }
  .text-20 {
    @apply text-[20px] leading-normal;
  }
  .text-24 {
    @apply text-[24px] leading-normal;
  }
  .text-32 {
    @apply text-[32px] leading-normal;
  }

  h1,
  h2,
  h3,
  .h3 {
    font-family: var(--font-playfair);
  }

  h1 {
    @apply text-2xl font-semibold text-text sm:text-5xl;
  }
  h2 {
    @apply text-[28px] font-semibold text-text sm:text-[36px];
  }
  h3 {
    @apply text-lg font-semibold text-text sm:text-xl;
  }
  p {
    @apply text-14 sm:text-16 font-normal text-text;
  }

  .logo,
  .logo-min,
  .logo-features {
    @apply text-primary;
    font-family: var(--font-marck);
  }

  .action-button {
    @apply text-16 relative w-fit gap-2 p-2.5 font-medium transition-all;
    font-family: var(--font-inter);
  }
  .icon-primary {
    .svg {
      @apply text-primary;
    }
  }
  .heading-underline {
    @apply my-4 h-[1px] w-full rounded-md bg-accent;
  }

  .page {
    @apply flex min-h-[calc(100dvh-124px)] flex-col pb-6;
  }
  .page-content {
    @apply relative flex h-full flex-grow flex-col items-center justify-start pb-4 pt-16;
  }

  .page-width-normal,
  .page-width-wider {
    @apply relative m-auto w-full px-4 md:max-w-[1024px] lg:px-0;
  }
  .page-width-wider {
    @apply overflow-hidden px-0 md:max-w-[1224px] lg:rounded-xl;
    > div {
      @apply px-4 lg:px-[100px];
    }
  }

  .recipe-grid {
    @apply grid w-full grid-cols-1 gap-x-5 gap-y-8 @xs:grid-cols-2 @2xl:grid-cols-3 @4xl:grid-cols-4;
  }

  .group-button {
    @apply relative w-[130px] cursor-pointer text-center transition-all;
    .link {
      @apply flex flex-col items-center justify-center gap-2;
    }
  }
}

.homepage {
  .logo-min {
    @apply text-[24px] sm:text-[28px];
  }
  .logo-features {
    @apply text-[50px] sm:text-[60px];
  }
  ul {
    @apply list-disc pl-5 text-[20px];
  }
  .homepage-bold {
    @apply font-bold text-secondary;
  }

  .hero {
    @apply page-width-wider relative flex min-h-[350px] items-end sm:min-h-[590px];
    &::before {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 0;
      left: 0;
      content: "";
      background: rgb(255, 255, 255);
      background: linear-gradient(
        90deg,
        rgb(255 255 255 / 90%) 0%,
        rgb(255 255 255 / 80%) 50%,
        rgb(236 231 220 / 0%) 100%
      );
      z-index: 5;
    }
  }

  .normal-section {
    @apply page-width-normal relative flex flex-col items-center gap-16 py-16 sm:flex-row lg:py-32;

    > .section-content {
      @apply flex w-full flex-col gap-6 sm:w-[50%];
      > div {
        @apply flex flex-col gap-6 leading-7;
      }
    }
  }

  .wider-section {
    @apply page-width-wider flex flex-col items-center gap-6 bg-accent/20 py-16 text-center lg:py-32;
  }

  .footer-section {
    @apply page-width-normal flex flex-col items-center pt-16;
  }

  .section-image {
    @apply h-[100%] max-h-[575px] w-[100%] object-contain sm:w-[50%];
  }

  .feature-icon {
    @apply !h-[50px] !w-[50px] text-background;
  }
}

@layer base {
  ul,
  ol {
    li {
      p {
        margin: 0 !important;
      }
    }
  }
  .prose-big {
    p {
      font-size: 16px;
      @media screen and (min-width: 640px) {
        font-size: 20px;
      }
    }
  }
}

.lucide {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5px;
}

.editor-content {
  .tiptap {
    width: 100%;
  }
}
