@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background); /*rgba(255, 98, 44, 0.05) #fff6f4*/
  /* background: linear-gradient(
    90deg,
    rgba(236, 231, 220, 1) 0%,
    rgba(253, 248, 237, 1) 50%,
    rgba(236, 231, 220, 1) 100%
  ); */
  color: var(--text);
}

:root {
  --primary: #ff622c;
  --primary-transparent: #f2726ed7;
  --secondary: #a4b476;
  --secondary-transparent: #a5b476d7;
  --accent: #235789;
  --accent-transparent: #235889d7;
  --background: #ffffff;
  --background-dark: #d6d3ca;
  --background-transparent: #fdf8edd7;
  --text: #000000;
}

@layer utilities {
  .input-label {
    @apply font-bold text-xl;
    font-family: var(--font-playfair);
  }
  .input-class {
    @apply w-full min-h-12 text-16 text-black-1 placeholder:text-16 rounded-[8px] bg-transparent placeholder:text-[#CECECE] border-2 border-[#CECECE] transition-all hover:border-primary focus-visible:border-primary outline-none focus-visible:outline-none;
  }

  .image-input {
    @apply flex flex-col gap-4 w-full relative;
    .image-input-inner {
      @apply cursor-pointer outline-dashed outline-2 outline-[#CECECE] rounded-sm flex flex-col items-center justify-center p-6 gap-4 hover:outline-primary transition-all;
    }
  }

  .podcast_grid {
    @apply grid grid-cols-1 gap-5 sm:grid-cols-2 lg:grid-cols-3 2xl:grid-cols-4;
  }
  .right_sidebar {
    @apply sticky right-0 top-0 flex w-[310px] flex-col overflow-y-hidden border-none bg-black-1 px-[30px] pt-8 max-xl:hidden;
  }
  .left_sidebar {
    @apply sticky left-0 top-0 flex w-fit flex-col  justify-between  border-none  bg-black-1 pt-8 text-white-1 max-md:hidden lg:w-[270px] lg:pl-8;
  }
  .generate_thumbnail {
    @apply mt-[30px] flex w-full max-w-[520px] flex-col justify-between gap-2 rounded-lg border border-black-6 bg-black-1 px-2.5 py-2 md:flex-row md:gap-0;
  }
  .image_div {
    @apply flex-center mt-5 h-[142px] w-full cursor-pointer flex-col gap-3 rounded-xl border-[3.2px] border-dashed border-black-6 bg-black-1;
  }
  .carousel_box {
    @apply relative flex h-fit aspect-square w-full flex-none cursor-pointer flex-col justify-end rounded-xl border-none;
  }
  .button_bold-16 {
    @apply text-[16px] font-bold text-white-1 transition-all duration-500;
  }
  .flex-center {
    @apply flex items-center justify-center;
  }
  .text-12 {
    @apply text-[12px] leading-normal;
  }
  .text-14 {
    @apply text-[14px] leading-normal;
  }
  .text-16 {
    @apply text-[16px] leading-normal;
  }
  .text-18 {
    @apply text-[18px] leading-normal;
  }
  .text-20 {
    @apply text-[20px] leading-normal;
  }
  .text-24 {
    @apply text-[24px] leading-normal;
  }
  .text-32 {
    @apply text-[32px] leading-normal;
  }

  h1,
  h2,
  h3 {
    font-family: var(--font-playfair);
  }

  h1 {
    @apply text-5xl font-semibold;
  }
  h2 {
    @apply text-[36px] font-semibold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
  p {
    @apply text-16 font-normal;
  }

  .header-icon {
    @apply text-white-1 !w-6 !h-6;
  }

  .action-button {
    @apply relative text-16 w-fit font-extrabold text-white-1 gap-2 transition-all p-2.5;
  }
  .icon-primary {
    .svg {
      @apply text-primary;
    }
  }
  .heading-underline {
    @apply w-full bg-[#CECECE] mt-3 rounded-md h-[1px];
  }

  .page {
    @apply flex flex-col py-6 min-h-[calc(100vh-118px)];
  }
  .page-content {
    @apply relative h-full flex flex-col items-center justify-start py-12;
  }

  .group-grid {
    @apply grid grid-cols-1 @sm:grid-cols-2 @lg:grid-cols-3 @2xl:grid-cols-4 gap-4;
  }

  .recipe-grid {
    @apply w-full grid grid-cols-1 @sm:grid-cols-2 @lg:grid-cols-3 @2xl:grid-cols-4 gap-4;
  }

  .group-button {
    @apply relative cursor-pointer transition-all text-center;
    .link {
      @apply flex flex-col justify-center items-center gap-2;
    }
  }
}

/* ===== custom classes ===== */

.custom-scrollbar::-webkit-scrollbar {
  width: 3px;
  height: 3px;
  border-radius: 2px;
}

.custom-scrollbar::-webkit-scrollbar-track {
  background: #15171c;
}

.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #222429;
  border-radius: 50px;
}

.custom-scrollbar::-webkit-scrollbar-thumb:hover {
  background: #555;
}
/* Hide scrollbar for Chrome, Safari and Opera */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.no-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.glassmorphism {
  background: rgba(255, 255, 255, 0.25);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-auth {
  background: rgba(6, 3, 3, 0.711);
  backdrop-filter: blur(4px);
  -webkit-backdrop-filter: blur(4px);
}
.glassmorphism-black {
  background: rgba(18, 18, 18, 0.64);
  backdrop-filter: blur(37px);
  -webkit-backdrop-filter: blur(37px);
}

/* ======= clerk overrides ======== */
.cl-socialButtonsIconButton {
  border: 2px solid #222429;
}
.cl-button {
  /* color: white; */
}
.cl-socialButtonsProviderIcon__github {
  filter: invert(1);
}
.cl-internal-b3fm6y {
  /* background: #f97535; */
}
.cl-formButtonPrimary {
  /* background: #f97535; */
}
.cl-footerActionLink {
  /* color: var(--accent); */
}
.cl-headerSubtitle {
  /* color: #c5d0e6; */
}
.cl-logoImage {
  width: 10rem;
  height: 3rem;
}
.cl-internal-4a7e9l {
  color: white;
}

.cl-userButtonPopoverActionButtonIcon {
  color: white;
}
.cl-internal-wkkub3 {
  /* color: #f97535; */
}

.cl-headerTitle {
  color: var(--primary);
}

.cl-profileSectionContent__profile {
  .cl-profileSectionPrimaryButton {
    &::before {
      content: "";
      border: solid var(--text);
      border-width: 0 2px 2px 0;
      display: inline-block;
      padding: 3px;
      transform: rotate(45deg);
      -webkit-transform: rotate(45deg);
      opacity: 0.7;
    }
  }
}

.cl-userButtonPopoverActionButtonIcon {
  color: var(--text);
}

@layer base {
  ul,
  ol {
    li {
      p {
        margin: 0 !important;
      }
    }
  }
}

.lucide {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5px;
}

.editor-button,
.color-editor-button {
  .lucide {
    color: var(--background);
  }
}

.editor-content {
  .tiptap {
    width: 100%;
  }
}
