@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("../styles/variables.css");
@import url("../styles/clerk.css");
@import url("../styles/scrollbar.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  background-color: var(--background);
  color: var(--text);
  font-family: var(--font-inter);
}

@layer utilities {
  .input-label {
    @apply font-bold text-lg sm:text-xl text-text;
    font-family: var(--font-playfair);
  }
  .input-class {
    @apply w-full min-h-12 text-16 text-text placeholder:text-16 rounded-[8px] bg-transparent placeholder:text-accent border-2 border-accent transition-all hover:border-primary focus-visible:border-primary outline-none focus-visible:outline-none;
  }

  .image-input {
    @apply flex flex-col gap-4 w-full relative;
    .image-input-inner {
      @apply cursor-pointer outline-dashed outline-2 outline-accent rounded-sm flex flex-col items-center justify-center p-6 gap-4 hover:outline-primary transition-all;
    }
  }

  .flex-center {
    @apply flex items-center justify-center;
  }

  .text-12 {
    @apply text-[12px] leading-normal;
  }
  .text-14 {
    @apply text-[14px] leading-normal;
  }
  .text-16 {
    @apply text-[16px] leading-normal;
  }
  .text-18 {
    @apply text-[18px] leading-normal;
  }
  .text-20 {
    @apply text-[20px] leading-normal;
  }
  .text-24 {
    @apply text-[24px] leading-normal;
  }
  .text-32 {
    @apply text-[32px] leading-normal;
  }

  h1,
  h2,
  h3,
  .h3 {
    font-family: var(--font-playfair);
  }

  h1 {
    @apply text-2xl sm:text-5xl font-semibold text-text;
  }
  h2 {
    @apply text-[28px] sm:text-[36px] font-semibold text-text;
  }
  h3 {
    @apply text-lg sm:text-xl font-semibold text-text;
  }
  p {
    @apply text-14 sm:text-16 font-normal text-text;
  }

  .logo,
  .logo-min,
  .logo-features {
    @apply text-primary;
    font-family: var(--font-marck);
  }

  .action-button {
    @apply relative text-16 w-fit font-medium gap-2 transition-all p-2.5;
    font-family: var(--font-inter);
  }
  .icon-primary {
    .svg {
      @apply text-primary;
    }
  }
  .heading-underline {
    @apply w-full bg-accent my-4 rounded-md h-[1px];
  }

  .page {
    @apply flex flex-col pb-6 min-h-[calc(100dvh-124px)];
  }
  .page-content {
    @apply relative h-full flex flex-col items-center justify-start pt-16 pb-4 flex-grow;
  }

  .page-width-normal,
  .page-width-wider {
    @apply relative w-full md:max-w-[1024px] m-auto px-4 lg:px-0;
  }
  .page-width-wider {
    @apply md:max-w-[1224px] px-0 lg:rounded-xl overflow-hidden;
    > div {
      @apply px-4 lg:px-[100px];
    }
  }

  .recipe-grid {
    @apply w-full grid grid-cols-1 @xs:grid-cols-2 @2xl:grid-cols-3 @4xl:grid-cols-4 gap-x-5 gap-y-8;
  }

  .group-button {
    @apply relative cursor-pointer transition-all text-center w-[130px];
    .link {
      @apply flex flex-col justify-center items-center gap-2;
    }
  }
}

@layer base {
  ul,
  ol {
    li {
      p {
        margin: 0 !important;
      }
    }
  }
  .prose-big {
    p {
      font-size: 16px;
      @media screen and (min-width: 640px) {
        font-size: 20px;
      }
    }
  }
}

.lucide {
  width: 1.5rem;
  height: 1.5rem;
  stroke-width: 1.5px;
}

.editor-content {
  .tiptap {
    width: 100%;
  }
}
